@(tasks: Iterable[Task], taskForm: Form[TaskForm.Data])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Todo list") {

    <h1>@tasks.size idea(s)</h1>

    <table style="text-align: center; border: 1px double black; width: 100%;">
    <tr><th>Idea</th><th>Who</th><th>When</th><th>Status</th><th>Complete?</th></tr>
    @tasks.map { task =>
        @if(task.ready == 0) {
            <tr>
            }else{
            <tr style="color: red; font-weight: bold; font-size: 16px;">
            }
    <td>@task.label</td>
    <td>@task.who</td>
    <td>@task.mytime</td>
    <td>@if(task.ready==0) {
        unfinished
    } else {
        finished
    }</td>
    <td>
        <table align=center>
            <td>@form(action = controllers.routes.TaskController.deleteTask(task.id)) {
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                }</td>
            @if(task.ready==0){
                <td>@form(routes.TaskController.completeTask(task.id)){
                    <input type="submit" value="Done" onclick="return confirm('Are you sure?');">
                    }</td>
            }
        </table>
    </td>
    </tr>
    }
    </table>

    <h2>Add a new idea</h2>

    @form(routes.TaskController.newTask) {

        @inputText(taskForm("label"))
        @inputText(taskForm("who"))

        <input type="submit" value="Create">
    }
}